<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <div class="row">
          <img class="col-lg-8 col-xs-12" src="https://www.flaticon.com/premium-icon/icons/svg/1146/1146289.svg" alt="">
        </div>
      <div class="row">
        <button class="btn btn-success col-lg-4 col-xs-12" type="button"
          on-click="incrementar"
          name="button">Cargar datos</button>
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}"/>
        <input type="text" placeholder="[[prop3]]" value="[[prop1]]"/>
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Elena</td>
              <td>Nito</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Leandro</td>
              <td>Gao</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h2>Hello [[prop1]]</h2>
    <h3>mi valor es [[prop2]]</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String//,
            //value: 'mi-visor XXXXXXX test'
          },
          prop2: {
            type: Number,
            value: 99
          },
          prop3: {
            type: String,
            value: 'Indique su usuario'
          }
        };
      }

      incrementar(){
        this.prop2++;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
